.access-button {

    i,
    span {
        font-size: 15px;
    }

    &:hover {
        cursor: pointer;
        background-color: rgb(26 115 232 / 0.1) !important;

        i,
        span {
            color: black !important;
        }

    }
}