<div class="header bg-black d-flex justify-content-between align-items-center p-3 flex-column flex-md-row ">


    <div class=" d-flex align-items-center flex-column flex-md-row">

        <span class="me-md-5 text-white display-6 fw-bold" routerLink="main">Voting App</span>

        <nav class="d-flex flex-column align-items-center flex-md-row my-2 my-md-0">
            <a routerLinkActive="active" routerLink="chart" class="text-decoration-none me-md-3">Chart</a>
            <a routerLinkActive="active" routerLink="vote" class="text-decoration-none me-md-3">Vote</a>
            <a routerLinkActive="active" routerLink="settings" class="text-decoration-none me-md-3">Settings</a>
        </nav>

    </div>

    <div class="rounded login-options bg-white p-2 mt-2 mt-md-0">
        <button (click)="logout()">Log out</button>

    </div>
</div>