@import '/src//styles/variables';


.layout {

    width: 100vw;

    @media(min-width: 468px) {
        width: 100%;
    }


    &-content {
        height: auto;
        display: grid;
    }

    &-no-options{
        height: 84vh;
    }

}

.place-items-center {
    place-items: center;
}