<shared-navbar [isFromDashboard]="false" *ngIf="currentUrl?.includes('/vote')"></shared-navbar>

<div class="layout">
    <div class="container" [ngClass]="{'mx-0 mx-md-5 my-2 layout-content':!mustShowButtonAccessCode,'place-items-center layout-no-options':!isThereOptionToVote && currentUrl?.includes('/vote')}">
        <div class="row">
            <div [ngClass]="{'col-md-6 offset-md-3':mustShowButtonAccessCode}">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <shared-access-button class="" *ngIf="mustShowButtonAccessCode"
        (click)="launchPopUpAccesCode()"></shared-access-button>
    <shared-footer></shared-footer>
</div>


<shared-modal-access-code *ngIf="mustShowModal" [isAccessCode]="true"></shared-modal-access-code>
<shared-modal-access-code *ngIf="mustShowModal" [isAccessCode]="false"></shared-modal-access-code>