
<div class="d-flex flex-column justify-content-center align-items-center mt-5" *ngIf="!isValidToken">
    <h1 class="fw-bold">The token is not valid!</h1>
    
    <button class="btn btn-primary " routerLink="/sign-in">
        Sign In
    </button>
</div>

<div *ngIf="isValidToken" class="login p-5 ">

    <div class="circle"></div>

    <h1 class="login__title fw-bold">
        Recover Password
    </h1>

    <p class="login__description">
        Enter your new password.
    </p>

    <form class="form mt-2" [formGroup]="form" (ngSubmit)="sendPasswords()">
        <div class="form__field mb-3">
            <label for="password" class="form-label">Password</label>
            <input formControlName="password" id="password" type="password" class="form-control">
            <shared-error-message [form]="form" field="password" [errors]="form.get('password')?.errors || {}"></shared-error-message>
        </div>

        <div class="form__field mb-3">
            <label for="password2" class="form-label">Confirm the Password</label>
            <input formControlName="password2" id="password2" type="password" class="form-control">
            <shared-error-message [form]="form" field="password2" [errors]="form.get('password2')?.errors || {}"></shared-error-message>
        </div>





        <button type="submit" class=" btn btn-outline-primary  w-100 mt-5">Change Password</button>



    </form>

</div>

