<div class="row mt-3">
    <div class="col-6 offset-6" *ngIf="isLoading; else listOptions">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <ng-template #listOptions>
        <span class="my-4 alert alert-info text-center text-uppercase fw-bold" *ngIf="optionsToVote.length===0">
            There are not options yet!
        </span>
        <div class="col-md-4 col-12 mb-4" *ngFor="let option of optionsToVote">
            <shared-card-votes [optionToVote]="option"></shared-card-votes>
        </div>
    </ng-template>

</div>